<!DOCTYPE html>
<html lang="en">
    <head>
	    {% load staticfiles %}
        <meta charset="utf-8">
        <title>D3 Test</title>
        <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
        <script type="text/javascript" src="{% static "js/d3/d3.js" %}"></script>
    </head>
    <body>
		<style type="text/css">
			rect {
				display: inline-block;
				/*fill: teal;*/
				/*margin-right: 2px;*/
			}

            svg circle {
              fill:yellow;
              stroke:orange;
              stroke-width: 5px;

            }
	    </style>
        <script type="text/javascript">
            // Your beautiful D3 code will go here
            var w = 800;
            var h = 200;
            var barWidth = 20;
            var barPadding = 1;
            // Defining our data
            var data = [ 25, 7, 5, 26, 11, 8, 25, 14, 23, 19,
                14, 11, 22, 29, 11, 13, 12, 17, 18, 10,
                24, 18, 25, 9, 3 ];

            var svg = d3.select("body")
                        .append("svg")
                        .attr("width", w)
                        .attr("height", h);

            // --- CIRCLES ! ---
            // var circles = svg.selectAll("circle")
            //     .data(data)
            //     .enter()
            //     .append("circle");

            // circles.attr("cx", function(d, i) {
            //             return (i * 50) + 25;
            //         })
            //         .attr("cy", h/2)
            //         .attr("r", function(d){
            //             return d;
            //         });

            // --- BARGRAPH ! ---
            svg.selectAll("rect")
                .data(data)
                .enter()
                .append("rect")
                .attr("x", function(d, i) {
                    return i * (w/data.length);
                })
                .attr("y", function(d) {
                    return h - d*5;
                })
                .attr("width", w/data.length - barPadding)
                .attr("height", function(d) {
                    return d*5;
                })
                .attr("fill", function(d) {
                    return "rgb(0,0," + (d*10) + ")";
                });
            svg.selectAll("text")
                .data(data)
                .enter()
                .append("text")
                .text(function(d) { return d; })
                .attr("x", function(d, i) { return i * (w/data.length) + (w/data.length - barPadding) / 2; })
                .attr("y", function(d) { return h - d*5 + 15; })
                .attr("font-family", "sans-serif")
                .attr("font-size", "11px")
                .attr("fill", "white")
                .attr("text-anchor", "middle");

        </script>
    </body>
</html>